[package]
name = "magnum-cluster-api"
version = "0.1.0"
edition = "2021"

[dependencies]
kube = { version = "0.98.0", features = ["runtime", "derive"] }
k8s-openapi = { version = "0.24.0", features = ["latest"] }
tokio = { version = "1.43.0", features = ["rt-multi-thread"] }
once_cell = "1.20.3"
serde_json = "1.0.138"
pythonize = "0.23.0"
thiserror = "2.0.11"
backoff = { version = "0.4.0", features = ["tokio"] }
cluster-api-rs = "1.9.5"
maplit = "1.0.2"

[dependencies.pyo3]
version = "0.23.1"
features = ["abi3-py38", "extension-module"]
