[tool.poetry]
name = "magnum-cluster-api"
version = "0.3.2"
description = "Cluster API driver for Magnum"
authors = ["Mohammed Naser <mnaser@vexxhost.com>"]
readme = "README.md"
packages = [{include = "magnum_cluster_api"}]

[tool.poetry.dependencies]
python = "^3.6"
pykube-ng = "*"
click = "*"
requests = "*"
shortuuid = "*"
certifi = "*"

[tool.poetry.group.dev.dependencies]
pytest = "<7"

[build-system]
requires = ["setuptools", "poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
magnum-cluster-api-image-builder = "magnum_cluster_api.cmd.image_builder:main"
magnum-cluster-api-image-loader = "magnum_cluster_api.cmd.image_loader:main"

[tool.poetry.plugins."magnum.drivers"]
"k8s_cluster_api_ubuntu_focal" = "magnum_cluster_api.driver:UbuntuFocalDriver"
