[tool.poetry]
name = "magnum-cluster-api"  
version = "0.13.4"
description = "Cluster API driver for Magnum"
authors = ["Mohammed Naser <mnaser@vexxhost.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{include = "magnum_cluster_api"}]
include = ["magnum_cluster_api/charts/**/*"]

[tool.poetry.dependencies]
certifi = "*"
click = ">=8.0.4"
magnum = ">=14.0.0"
"oslo.concurrency" = ">=4.5.0"
"oslo.config" = ">=8.8.0"
"oslo.context" = ">=4.1.0"
"oslo.log" = ">=4.7.0"
"oslo.privsep" = ">=2.7.0"
"oslo.service" = ">=2.8.0"
pykube-ng = "*"
pyroute2 = ">=0.3.4"
python = "^3.6"
"python-manilaclient" = ">=3.3.2"
requests = ">=2.27.1"
semver = "^2.0.0"
shortuuid = "*"
diskcache = ">=5.6.1"
platformdirs = ">=2.4.0"
haproxyadmin = "^0.2.4"

[tool.poetry.group.dev.dependencies]
pytest = "<7"
pytest-mock = "^3.6.1"

[build-system]
requires = ["setuptools", "poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
magnum-cluster-api-image-builder = "magnum_cluster_api.cmd.image_builder:main"
magnum-cluster-api-image-loader = "magnum_cluster_api.cmd.image_loader:main"
magnum-cluster-api-proxy = "magnum_cluster_api.cmd.proxy:main"

[tool.poetry.plugins."magnum.drivers"]
"k8s_cluster_api_ubuntu" = "magnum_cluster_api.driver:UbuntuDriver"
"k8s_cluster_api_ubuntu_focal" = "magnum_cluster_api.driver:UbuntuFocalDriver"
"k8s_cluster_api_flatcar" = "magnum_cluster_api.driver:FlatcarDriver"

[tool.isort]
profile = "black"
