name: ci

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  cargo:
    uses: vexxhost/github-actions/.github/workflows/cargo.yml@main

  build:
    runs-on: ubuntu-24.04${{ matrix.target == 'aarch64' && '-arm' || '' }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: rui314/setup-mold@v1
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - run: rustup show
      - uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          maturin-version: v1.9.6
          command: build
          manylinux: "2_28"
          args: --release --sdist
          sccache: "true"
          target: ${{ matrix.target }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: wheel-${{ matrix.target }}
          if-no-files-found: error
          path: |
            target/wheels/*.whl
            target/wheels/*.tar.gz

  coinstall:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: build
    strategy:
      fail-fast: false
      matrix:
        openstack-version:
          - "2023.1"
          - "2023.2"
          - "2024.1"
          - "2024.2"
          - "2025.1"
          - "master"
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
        include:
          - openstack-version: "zed"
            python-version: "3.10"
        exclude:
          - openstack-version: "2023.1"
            python-version: "3.12"
          - openstack-version: "2023.2"
            python-version: "3.12"
    steps:
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          ignore-empty-workdir: true
          python-version: ${{ matrix.python-version }}
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: wheel-x86_64
      - run: |
          uv venv
          uv pip install --constraint https://releases.openstack.org/constraints/upper/${{ matrix.openstack-version }} ./*.whl

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          token: ${{ secrets.VEXXHOST_BOT_PAT || github.token }}
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        if: github.event_name == 'pull_request' && github.event.pull_request.user.id == '29139614' && always()
        with:
          commit_message: "chore: apply pre-commit hook updates"
          commit_author: "renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>"

  chart-vendor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: vexxhost/chart-vendor@16a7b50d8ac235cf83ae9763a093fbee7034b5bf # main
        with:
          charts-root: magnum_cluster_api/charts

  sonobuoy:
    runs-on: vexxhost-ubuntu-22.04-16
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        network-driver: [calico, cilium]
        kubernetes-version:
          - 1.32.12
          - 1.33.8
          - 1.34.4
          - 1.35.1
    concurrency:
      group: sonobuoy-${{ matrix.kubernetes-version }}-${{ matrix.network-driver }}-${{ github.event.pull_request.number }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: magnum-cluster-api
      - run: sudo mkdir -p /opt/stack
      - run: sudo mv $GITHUB_WORKSPACE/magnum-cluster-api /opt/stack/magnum-cluster-api
      - run: sudo chown -R $USER:$USER /opt/stack
      - run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
      - uses: dev-hanz-ops/install-gh-cli-action@af38ce09b1ec248aeb08eea2b16bbecea9e059f8 # v0.2.1
        with:
          gh-cli-version: 2.78.0
      - id: tag-info
        run: |
          TAG_NAME=$(gh release list --repo vexxhost/capo-image-elements \
            --limit 10 \
            --exclude-pre-releases \
            --exclude-drafts \
            --json name,isLatest \
            --jq '.[] | select(.isLatest == true) | .name')

          echo "name=$TAG_NAME" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: gophercloud/devstack-action@f4c936d2edcc7b7c657493b0073c38093c3c5ebd # v0.16
        with:
          conf_overrides: |
            FIXED_RANGE=10.1.0.0/20
            # NOTE(mnaser): https://review.opendev.org/c/openstack/devstack/+/942755
            ZSWAP_ZPOOL=zsmalloc

            enable_plugin magnum https://review.opendev.org/openstack/magnum refs/changes/10/949110/2
            # TODO(mnaser): fix this when we have the matrix
            MAGNUM_GUEST_IMAGE_URL=https://github.com/vexxhost/capo-image-elements/releases/download/${{ steps.tag-info.outputs.name }}/ubuntu-22.04-v${{ matrix.kubernetes-version }}.qcow2

            enable_plugin manila https://github.com/openstack/manila
            MANILA_ENABLED_BACKENDS=generic
            MANILA_USE_SERVICE_INSTANCE_PASSWORD=True
            MANILA_DEFAULT_SHARE_TYPE_EXTRA_SPECS="snapshot_support=True create_share_from_snapshot_support=True"

            enable_plugin octavia https://github.com/openstack/octavia
            OCTAVIA_NODE=api
            DISABLE_AMP_IMAGE_BUILD=True

            enable_plugin barbican https://github.com/openstack/barbican
            enable_plugin ovn-octavia-provider https://github.com/openstack/ovn-octavia-provider
            enable_plugin magnum-cluster-api https://github.com/vexxhost/magnum-cluster-apioutdoor speakersk

            [[post-config|/etc/manila/manila.conf]]
            [generic]
            driver_handles_share_servers = True
            connect_share_server_to_tenant_network = True

            [[post-config|/etc/magnum/magnum.conf]]
            [cluster_template]
            kubernetes_allowed_network_drivers = calico,cilium
            kubernetes_default_network_driver = calico
            [nova_client]
            api_version = 2.15
          enabled_services: -s-account,-s-container,-s-object,-s-proxy,openstack-cli-server,octavia,o-api,o-hk,o-da
      - run: |
          # NOTE(okozachenko): Create volumev3 service and endpoint manually until this issue fixed.
          #                    https://github.com/kubernetes/cloud-provider-openstack/issues/2884
          openstack service create --name cinderv3 --description "Cinder Volume Service V3" volumev3
          iface=public
          url=$(openstack endpoint list --service block-storage --interface $iface -f value -c URL)
          openstack endpoint create --region RegionOne volumev3 $iface "$url"
        env:
          OS_CLOUD: devstack-admin
      - run: ./hack/run-integration-tests.sh
        working-directory: /opt/stack/magnum-cluster-api
        env:
          OS_CLOUD: devstack
          NETWORK_DRIVER: ${{ matrix.network-driver }}
          IMAGE_NAME: ubuntu-22.04-v${{ matrix.kubernetes-version }}
          KUBE_TAG: v${{ matrix.kubernetes-version }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ always() }}
        with:
          name: sonobuoy-results-${{ matrix.kubernetes-version }}-${{ matrix.network-driver }}
          path: /opt/stack/magnum-cluster-api/sonobuoy-results.tar.gz
          if-no-files-found: error
