name: ci

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  cargo:
    uses: vexxhost/github-actions/.github/workflows/cargo.yml@main

  build:
    runs-on: ubuntu-24.04${{ matrix.target == 'aarch64' && '-arm' || '' }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: rui314/setup-mold@v1
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - run: rustup show
      - uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          maturin-version: v1.9.6
          command: build
          manylinux: "2_28"
          args: --release --sdist
          sccache: "true"
          target: ${{ matrix.target }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: wheel-${{ matrix.target }}
          if-no-files-found: error
          path: |
            target/wheels/*.whl
            target/wheels/*.tar.gz

  coinstall:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: build
    strategy:
      fail-fast: false
      matrix:
        openstack-version:
          - "2023.1"
          - "2023.2"
          - "2024.1"
          - "2024.2"
          - "2025.1"
          - "master"
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
        include:
          - openstack-version: "zed"
            python-version: "3.10"
        exclude:
          - openstack-version: "2023.1"
            python-version: "3.12"
          - openstack-version: "2023.2"
            python-version: "3.12"
    steps:
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          ignore-empty-workdir: true
          python-version: ${{ matrix.python-version }}
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: wheel-x86_64
      - run: |
          uv venv
          uv pip install --constraint https://releases.openstack.org/constraints/upper/${{ matrix.openstack-version }} ./*.whl

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          token: ${{ secrets.VEXXHOST_BOT_PAT || github.token }}
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        if: github.event_name == 'pull_request' && github.event.pull_request.user.id == '29139614' && always()
        with:
          commit_message: "chore: apply pre-commit hook updates"
          commit_author: "renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>"

  chart-vendor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: vexxhost/chart-vendor@d242f2d52e9f707faaf66de927936e337eb9679e # main
        with:
          charts-root: magnum_cluster_api/charts

  sonobuoy:
    runs-on: vexxhost-ubuntu-22.04-16
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        network-driver: [calico, cilium]
        kubernetes-version:
          - 1.32.10
          - 1.33.7
          - 1.34.3
    concurrency:
      group: sonobuoy-${{ matrix.kubernetes-version }}-${{ matrix.network-driver }}-${{ github.event.pull_request.number }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: magnum-cluster-api
      - uses: ./magnum-cluster-api/.github/actions/setup-devstack
        id: setup
        with:
          kubernetes-version: ${{ matrix.kubernetes-version }}
      - run: ./hack/run-integration-tests.sh
        working-directory: /opt/stack/magnum-cluster-api
        env:
          OS_CLOUD: devstack
          NETWORK_DRIVER: ${{ matrix.network-driver }}
          IMAGE_NAME: ubuntu-22.04-v${{ matrix.kubernetes-version }}
          KUBE_TAG: v${{ matrix.kubernetes-version }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ always() }}
        with:
          name: sonobuoy-results-${{ matrix.kubernetes-version }}-${{ matrix.network-driver }}
          path: /opt/stack/magnum-cluster-api/sonobuoy-results.tar.gz
          if-no-files-found: error
