name: docs

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install Earthly
        uses: earthly/actions-setup@43211c7a0eae5344d6d79fb4aaf209c8f8866203 # v1.0.13
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: earthly --secret GITHUB_TOKEN +mkdocs-build
        env:
          EARTHLY_CI: true
          EARTHLY_PUSH: "${{ github.event_name == 'push' }}"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
