name: image

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      image_push:
        type: boolean
        description: 'Push images to Container Registry'
        required: false
        default: false
  pull_request:
    paths-ignore:
      - "docs/**"
      - README.md
  push:
    branches:
      - main
    tags:
      - "v*"
    paths-ignore:
      - "docs/**"
      - README.md

jobs:
  ## NOTE(okozachenko1203): Disable this job for now.
  # service:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: earthly/actions-setup@v1
  #       with:
  #         github-token: ${{ secrets.GITHUB_TOKEN }}

  #     - name: Checkout project
  #       uses: actions/checkout@v3

  #     - name: Authenticate with Quay.io
  #       uses: docker/login-action@v2
  #       if: ${{ github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && inputs.image_push == true) }}
  #       with:
  #         registry: quay.io
  #         username: ${{ secrets.QUAY_USERNAME }}
  #         password: ${{ secrets.QUAY_ROBOT_TOKEN }}

  #     - name: Build image
  #       run: earthly +image --GIT_SHA ${{ github.sha }}
  #       env:
  #         EARTHLY_CI: true
  #         EARTHLY_PUSH: "${{ github.event_name == 'push' }}"

  registry:
    runs-on: ubuntu-latest
    steps:
      - name: Configure Buildkit
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Checkout project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: quay.io/vexxhost/magnum-cluster-api-registry
          tags: |
            type=semver,pattern={{version}}
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Authenticate with Quay.io
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        if: ${{ github.event_name == 'push' || github.event_name == 'tag' || (github.event_name == 'workflow_dispatch' && inputs.image_push == true) }}
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          target: registry
          push: ${{ github.event_name == 'push' || github.event_name == 'tag' || inputs.image_push == true }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
