name: release-please

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write
  issues: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        id: release
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        if: ${{ steps.release.outputs.release_created }}
      - name: Build package (x86_64)
        if: ${{ steps.release.outputs.release_created }}
        uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          command: publish
          args: --non-interactive --skip-existing
          manylinux: '2_28'
          target: x86_64
      - name: Build package (aarch64)
        if: ${{ steps.release.outputs.release_created }}
        uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          command: publish
          args: --non-interactive --skip-existing
          manylinux: '2_28'
          target: aarch64
