name: test
on:
  pull_request: {}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3.1.0

      - name: Setup Python
        uses: actions/setup-python@v4.3.0

      - name: Setup pre-commit
        uses: pre-commit/action@v3.0.0
