name: test
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - README.md
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate session (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-latest
            python-version: "3.8"
          - runs-on: ubuntu-latest
            python-version: "3.9"
          - runs-on: ubuntu-latest
            python-version: "3.10"
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Build package
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: --release

  install:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-latest
            python-version: "3.8"
            openstack-version: zed
          - runs-on: ubuntu-latest
            python-version: "3.8"
            openstack-version: "2023.1"
          - runs-on: ubuntu-latest
            python-version: "3.10"
            openstack-version: "2023.2"
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Build package
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: --release --out dist

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package using constraints
        run: pip install --constraint https://releases.openstack.org/constraints/upper/${{ matrix.openstack-version }} ./dist/*.whl
